<nav class="navbar navbar-light" style="background: #ffffff;    border-bottom: 2px solid gray;">
  <a class="navbar-brand" href="#" style="color:white">
    <img src="../assets/images//IBM_logo.svg" style="height: 30px;">
  </a>
  <h4 style="color: #0b2265;"> Process Automation Manager Demo </h4>
  <a class="float-right">
    <img src="../assets/images/IBM_logo.svg" style="height: 30px;">
  </a>
</nav>
<div class="container-fluid">
  <div class="col-md-12">
    <app-maincomponent></app-maincomponent>
  </div>
  
</div>